*.a
*.so
*.d
*.o
*swp
/test
libs
build
gen
bin
.gradle
.idea
*.iml
*.apk
/*.png
.externalNativeBuild
local.properties
gradlew
gradlew.bat
gradle
/samples/*/app/assets
/samples/hellotriangle/hellotriangle
/samples/rotating_texture/rotating_texture
/samples/basic_compute/basic_compute
/samples/multithreading/multithreading
/samples/multisampling/multisampling
/samples/spinning_cube/spinning_cube
/docs
